<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus animi natus hic quod id earum facilis. Soluta fugit labore nisi quis necessitatibus aperiam quae. Libero eaque aliquid iure autem dolorem. jkjkj</h2>
</body>
</html>